<h1>Comics</h1>
<%= link_to "New comic", new_comic_path %>

<table class="table">
  <thead>
    <tr>
      <th>
        Series
      </th>
      <th>
        Title
      </th>
      <th>
        Issue
      </th>
      <th>
        Published
      </th>
      <th>
        Price
      </th>
      <th>
        
      </th>
    </tr>
  </thead>
  <tbody>
    <% @comics.each do |comic| %>
      <tr>
        <td>
          <%= comic.series %>
        </td>
        <td>
          <%= comic.title %>
        </td>
        <td>
          <%= comic.issue %>
        </td>
        <td>
          <%= comic.published %>
        </td>
        <td>
          <%= comic.price %>
        </td>
        <td>
          <a href="/comics/<%= comic.id %>/edit">Edit</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
